ion-content {
  --background: #f4f4f4;
}


form {
  margin-top: 50px;
}

h1 {
  text-align: center;
  color: #000;
  margin-bottom: 30px;
}

.campo {
  --background: #fff;
  --color: #000;

  border-radius: 100px;
  margin-bottom: 16px;

  --border-width: 0;
  --inner-border-width: 0;
  --highlight-height: 0;
}

.btn-cadastrar {
  --background: #50C2C9;
  margin-top: 20px;
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;

  display: flex;
  justify-content: center;
  align-items: center;

  padding: 10px;

  background: #50C2C9;
}

.line {
  border: 24px solid rgb(80, 194, 201);
  width: 100%;
  background: #50C2C9;
  padding: 15px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu {
  display: flex;
  gap: 20px;
}

.nav-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
  flex: 1;
  min-width: 0;
  color: black;
  cursor: pointer;
}

.nav-item ion-icon {
  font-size: 22px;
}

.nav-item span {
  font-size: 10px;
  text-align: center;
  word-break: break-word;
}

.spacer {
  height: 75px;
}

@media (max-width: 600px) {

  footer {
    padding: 5px 0;
    font-size: 12px;
    gap: 5px;

  }

  .line {
    padding: 10px 5px;
  }

  .nav-item ion-icon {
    font-size: 18px;
  }

  .nav-item span {
    font-size: 10px;
  }
}