ion-content {
  --background: #f4f4f4;
}

.line {
  border: 24px solid #50C2C9;
  width: 100%;
}

form {
  margin-top: 50px;
}

h1 {
  text-align: center;
  color: #000;
  margin-bottom: 30px;
}

.campo {
  --background: #fff;
  --color: #000;

  border-radius: 100px;
  margin-bottom: 16px;

  --border-width: 0;
  --inner-border-width: 0;
  --highlight-height: 0;
}

.btn-cadastrar {
  --background: #50C2C9;
  margin-top: 20px;
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;

  display: flex;
  justify-content: center;
  align-items: center;

  padding: 10px;

  background: #50C2C9;
}