<ion-header>

</ion-header>

<div class="line"></div>

<ion-content class="ion-padding">

  <form (ngSubmit)="recuperarSenha()">

    <h1>Recuperar Senha</h1>

    <p class="texto">
      Informe o e-mail cadastrado para recuperação da senha.
    </p>

    <ion-item class="form1">
      <ion-label position="floating">E-mail</ion-label>
      <ion-input type="email" [(ngModel)]="email" name="email" required>
      </ion-input>
    </ion-item>

    <ion-button expand="block" type="submit" class="ion-margin-top">

      Enviar Link
    </ion-button>

    <ion-button class="registro" routerLink="/login">

      Voltar para o Login
    </ion-button>

  </form>

  <footer>
    <ion-button class="secret" routerLink="/home">
      <img src="assets/img/home.svg" alt="Home">
    </ion-button>
  </footer>

</ion-content>