<ion-header>

</ion-header>
<div class="line"></div>

<ion-content class="ion-padding">

  <form class="form1" (ngSubmit)="login()">

    <h1>Login</h1>

    <ion-item class="form1">
      <ion-label position="floating">E-mail</ion-label>
      <ion-input type="email" [(ngModel)]="email" name="email" required>
      </ion-input>
    </ion-item>

    <ion-item class="form1">
      <ion-label position="floating">Senha</ion-label>
      <ion-input type="password" [(ngModel)]="senha" name="senha" required>
      </ion-input>
    </ion-item>

    <ion-button expand="block" type="submit" class="ion-margin-top" routerLink="/home">
      Login
    </ion-button>
    <ion-button class="registro" routerLink="/recuperar">
      Esqueceu sua senha?<span class="registre">Recuperar senha</span>
    </ion-button>
    <ion-button class="registro" routerLink="/registro">
      Não possui conta?<span class="registre">Registre-se aqui</span>
    </ion-button>
  </form>
  <div class="spacer"></div>
  <footer>
    <ion-button class="secret" routerLink="/home"><img src="assets/img/home.svg" alt=""></ion-button>
  </footer>

</ion-content>