<ion-header [translucent]="true">
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>
  <div class="line"></div>

  <ion-card class="card">
    <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/card-media.png" />
    <ion-card-header>
      <ion-card-title>Nome do Local</ion-card-title>
      <ion-card-subtitle>Descrição da ONG</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      Endereço
    </ion-card-content>
  </ion-card>
  <ion-card class="card">
    <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/card-media.png" />
    <ion-card-header>
      <ion-card-title>Nome do Local</ion-card-title>
      <ion-card-subtitle>Descrição da ONG</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      Endereço
    </ion-card-content>
  </ion-card>
  <ion-card class="card">
    <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/card-media.png" />
    <ion-card-header>
      <ion-card-title>Nome do Local</ion-card-title>
      <ion-card-subtitle>Descrição da ONG</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      Endereço
    </ion-card-content>
  </ion-card>
  <ion-card class="card">
    <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/card-media.png" />
    <ion-card-header>
      <ion-card-title>Nome do Local</ion-card-title>
      <ion-card-subtitle>Descrição da ONG</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      Endereço
    </ion-card-content>
  </ion-card>

  <div class="spacer"></div>
</ion-content>
<footer>
  <ion-button class="secret" routerLink="/login">
    <p>Login</p>
  </ion-button>
  <ion-button class="secret" routerLink="/sobre-nos"><img src="assets/img/home.svg" alt=""></ion-button>
  <ion-button class="secret">
    <p>Logout</p>
  </ion-button>
</footer>