<ion-content>
  <div class="line">

    <div class="menu">
      <div class="nav-item" routerLink="/ong">Cadastro ONG</div>
      <div class="nav-item" routerLink="/apis">Sobre API</div>
      <div class="nav-item" routerLink="/sobre-nos">Sobre Nós</div>
    </div>

  </div>

  <ion-card class="card">
    <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/card-media.png" />
    <ion-card-header>
      <ion-card-title>Nome do Local</ion-card-title>
      <ion-card-subtitle>Descrição da ONG</ion-card-subtitle>
      <ion-card-subtitle>Telefone</ion-card-subtitle>
      <ion-card-subtitle>Redes Sociais</ion-card-subtitle>
      <ion-card-subtitle>Chave Pix</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      Endereço
    </ion-card-content>
  </ion-card>
  <ion-card class="card">
    <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/card-media.png" />
    <ion-card-header>
      <ion-card-title>Nome do Local</ion-card-title>
      <ion-card-subtitle>Descrição da ONG</ion-card-subtitle>
      <ion-card-subtitle>Telefone</ion-card-subtitle>
      <ion-card-subtitle>Redes Sociais</ion-card-subtitle>
      <ion-card-subtitle>Chave Pix</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      Endereço
    </ion-card-content>
  </ion-card>
  <ion-card class="card">
    <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/card-media.png" />
    <ion-card-header>
      <ion-card-title>Nome do Local</ion-card-title>
      <ion-card-subtitle>Descrição da ONG</ion-card-subtitle>
      <ion-card-subtitle>Telefone</ion-card-subtitle>
      <ion-card-subtitle>Redes Sociais</ion-card-subtitle>
      <ion-card-subtitle>Chave Pix</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      Endereço
    </ion-card-content>
  </ion-card>
  <ion-card class="card">
    <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/card-media.png" />
    <ion-card-header>
      <ion-card-title>Nome do Local</ion-card-title>
      <ion-card-subtitle>Descrição da ONG</ion-card-subtitle>
      <ion-card-subtitle>Telefone</ion-card-subtitle>
      <ion-card-subtitle>Redes Sociais</ion-card-subtitle>
      <ion-card-subtitle>Chave Pix</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      Endereço
    </ion-card-content>
  </ion-card>

  <div class="spacer"></div>
</ion-content>
<footer>
  <ion-button class="secret" routerLink="/login">
    <p>Login</p>
  </ion-button>
  <ion-button class="secret" routerLink="/home"><img src="assets/img/home.svg" alt=""></ion-button>
  <ion-button class="secret" (click)="logout()">
    <p>Logout</p>
  </ion-button>
</footer>