<ion-content>
  <div class="line">

    <div class="menu">
      <div
     class="nav-item"
     routerLink="/ong"
     *ngIf="podeCadastrarOng">
     Cadastro ONG
      </div>
      <div class="nav-item" routerLink="/apis">Sobre API</div>
      <div class="nav-item" routerLink="/sobre-nos">Sobre Nós</div>
    </div>

  </div>
<ion-card
  class="card"
  *ngFor="let ong of ongs">

<img
  [src]="ong.imagem"
(click)="verificarLoginEAbrirMapa(ong.cep)"
  style="cursor:pointer">
  <ion-card-header>

    <ion-card-title>
      {{ ong.nome }}
    </ion-card-title>

    <ion-card-subtitle>
      {{ ong.descricao }}
    </ion-card-subtitle>

    <ion-card-subtitle>
      Telefone: {{ ong.telefone }}
    </ion-card-subtitle>

    <ion-card-subtitle>
      Redes Sociais: {{ ong.redesSociais }}
    </ion-card-subtitle>

    <ion-card-subtitle>
      Chave Pix:
      {{ ong.pix }}

      <span
        (click)="copiarPix(ong.pix)"
        style="cursor:pointer">
        💲
      </span>

    </ion-card-subtitle>

  </ion-card-header>

  <ion-card-content>
    CEP: {{ ong.cep }}
  </ion-card-content>

</ion-card>
  <div class="spacer"></div>
</ion-content>
<footer>
  <ion-button class="secret" routerLink="/login">
    <p>Login</p>
  </ion-button>
  <ion-button class="secret" routerLink="/home"><img src="assets/img/home.svg" alt=""></ion-button>
  <ion-button class="secret" (click)="logout()">
    <p>Logout</p>
  </ion-button>
</footer>