<ion-header [translucent]="true">
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Sobre Nós</ion-title>
    </ion-toolbar>
  </ion-header>
  <div class="line"></div>
  <div id="container">
    <div class="card">
      <img src="assets/img/foto.svg" alt="">
      <div class="card-info">
        <h3>Guilherme Barbosa Rios</h3>
        <ul>
          <li>Back-End</li>
          <li>Figma</li>
        </ul>
      </div>
    </div>
    <div class="card">
      <img src="assets/img/foto2.svg" alt="">
      <div class="card-info">
        <h3>Erick Santos</h3>
        <ul>
          <li>Front-End</li>
          <li>Figma</li>
        </ul>
      </div>
    </div>
    <div class="card">
      <img src="assets/img/foto3.svg" alt="">
      <div class="card-info">
        <h3>Matheus Silva Guimarães</h3>
        <ul>
          <li>Documentação</li>
          <li>PowerPoint</li>
        </ul>
      </div>
    </div>
  </div>
  <div class="spacer"></div>
</ion-content>
<footer>
  <p>Cadastro/Login</p>
  <ion-button class="secret" routerLink="/home"><img src="assets/img/home.svg" alt=""></ion-button>
  <p>Logout</p>
</footer>